html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    color: #00131D;
}

input {
    border-radius: 10px;
    border: rgba(223,223,223,1) solid;
    padding: 18px 19px 15px 19px;
    margin: 6px 0;
}
input:focus {
    border: #3289F3 solid;
}
input::placeholder {
    color: rgba(189, 189, 189, 1);
    font-family: 'Nunito Sans', sans-serif;

}
label {
    color: rgba(172, 172, 172, 1);
    font-weight: bold;
    margin: 6px 0;
}
button, input[type=submit] {
   padding: 15px;
   border-radius: 10px; 
   border: none;
   background-color: #3289F3;
   color: white;
   font-weight: bold;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 16px;
   margin: 27.5px 0;
}
button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #3289F3;
    font-family: 'urbancat_rgbold';
    margin-top: 0;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}

span a {
    font-family: 'Nunito Sans', sans-serif;
    color: #3289F3;
    text-decoration: none;
}

.error {
  color: red;
}

a {
    text-decoration: none;
    color: #00131D;
}
